@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="~/js/rotation.js"></script>
}

<div class="row">
    <div class="col-md-3">
        <div class="rotationContainer"></div>
    </div>
</div>
